HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### QueryDSL ###
**/generated/
src/main/generated/

### yml ###
*.yml
*.yaml

### env ###
.env
.env.*

# 예외 처리
!docker-compose.yml
!docker/docker-compose.yml
!.github/workflows/*.yml
!src/main/resources/application.yml
!src/main/resources/application-prod.yml
!src/main/resources/application-test.yml
!docker/init-redis-cluster.sh
!docker/docker-compose.redis-cluster.yml
!docker/monitoring/prometheus/prometheus.yml
!docker/monitoring/prometheus/rules/*.yml
!docker/monitoring/grafana/provisioning/**/*.yml
!docker/monitoring/alertmanager/alertmanager.yml

### custom ###
src/main/resources/application-secret.yml

# local / sensitive files
*.pem
error.log
docker/.env
