spring:
  config:
    activate:
      on-profile: test

  ## AWS S3 자동 설정을 제외하여 테스트 시 인증 정보 에러 방지
  autoconfigure:
    exclude: io.awspring.cloud.autoconfigure.s3.S3AutoConfiguration

  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
        trace: false

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

    # show-sql: true  <- 이것도 아래 logging 설정

  data:
    redis:
      host: localhost
      port: 6379

  mail:
    host: localhost
    port: 3025
    username: test
    password: test
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

jwt:
  secret: "testSecretKeyForUnitTestingMustBeLongEnoughToSatisfyHS256BitRequirement"
  access-expiration: 3600000
  refresh-expiration: 86400000

queue:
  enabled: false

logging:
  level:
    com.back.b2st: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.mail: DEBUG
    com.sun.mail: DEBUG
