version: '3.8'
services:
  # 1. 데이터베이스 설정
  postgres:
    image: postgres:16-alpine
    container_name: tt_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_INITDB_ARGS: "-E UTF8 --locale=C"
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. 레디스 설정
  redis:
    image: redis:alpine
    container_name: tt_redis
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
      -
  # 스프링 부트 애플리케이션 설정
  app:
    build:
      context: .           # Dockerfile이 있는 현재 폴더 기준
      dockerfile: Dockerfile
    container_name: tt_app
    restart: always
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"        # 외부 8080 포트를 컨테이너 8080 포트로 연결
    env_file:
      - ../.env               # .env 파일에 저장된 모든 환경 변수 로드
    environment:
      # 스프링 부트가 인식할 DB 및 Redis 주소 설정
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_DATA_REDIS_PASSWORD: ${REDIS_PASSWORD}

volumes:
  postgres_data: